.myCenter {
  display: block;
  margin: 0 auto;
}

span.bold {
  font-weight: 700;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 1.75em;
  text-align: center;
  background-color: black;
  color: white;
}

h3 {
  font-size: 1.5em;
  margin-bottom: auto;
}

h3.bold {
  font-weight: 700;
}

p.dateInfo {
  color: gray;
  size: 1em;
  margin: auto;
}

.transparentBackground {
  background-color: rgb(0,0,0,0.1);
}

img {
  border: 0.2em solid black;
}

p {
  padding-left: 1em;
  padding-right: 1em;
}

p.noPad {
  padding-left: 0em;
  padding-right: 0em;
}